{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "import-graphql",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
